venv/
/venv/
.venv/
.env/
/env/
/.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
/.python-version
ENV/
env.bak/
venv.bak/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.backup
*.swp
*.swo
*.tmp
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.log
*.pot
*.mo
*.pyc